<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout :: headerFragment">
  <link href="../../style/app.css" th:href="@{/style/app.css}" rel="stylesheet"/>
  </head>
  <body>
    <div id="container">
      <div th:include="layout :: bannerFragment">
      </div>
      <div id="workarea">
        <h1 th:text="${title}">Page title here</h1>
        <div th:if="${#lists.isEmpty(facilities)}">Table is empty.</div>
        <div th:if="${not #lists.isEmpty(facilities)}">
          <table>
            <thead>
              <tr>
                <th> Code </th>
                <th> Facility name</th>
              </tr>
            </thead>
            <tbody th:remove="all-but-first">
              <tr th:each="facilities : ${facilities}">
                <td><a href="#" th:href="@{'/facilities/' + ${facilities.code}}" th:text="${facilities.code}">99999</a></td>
                <td th:text="${facilities.name}">Long realistic company name</td>
              </tr>
              <tr>
                <td><a href="#">88888</a></td>
                <td>Mom &amp; Pop's little tannery</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- workarea -->
    </div>
    <!-- container -->
    <div id="pagefoot" th:include="layout :: footerFragment">
    Footer
    </div>
  </body>
</html>
